<a href="/#/thread/create" class="btn btn-default" >Neuen Thread erstellen</a>
<h3>Meine Threads</h3>
<table class="table">
    <thead>
    <tr>
        <td>Titel</td>
        <td>Beschreibung</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="thread in threads">
        <td><a href="/#/thread/{{thread.id}}">{{thread.title}}</a></td>
        <td>{{thread.description}}</td>
    </tr>
    </tbody>
</table>
<div class="btn-group">
    <button ng-disabled="!data.prev_page_url" class="btn btn-primary" ng-click="prev()">Previous Page</button>
    <button ng-disabled="!data.next_page_url" class="btn btn-primary" ng-click="next()">Next Page</button>
</div>
<div class="alert alert-danger" ng-show="error">
    <strong>There was an error: </strong> {{error.error}} <br>
    Please go back and login again
</div>